.callback-container{
    display: flex;
    align-items: center;
}

.callback-container > div:first-child{
    width: 50%;
}

.callback-title {
    font-size: 36px;
}

.callback-title>span {
    color: #1e90ff;
}

.discount-subtitle {
    color: #2c3e50;
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 500;
}

.form-group label {
    display: block;
}

.form{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 16px;
    align-items: center;
    margin: 24px 0px;
}

.phone-input {
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
    background: white;
    border: none;
    border-bottom: 1px solid black;
    margin: 12px 0px;
    width: 100%;
    box-sizing: border-box;
}

.phone-input:focus {
    border-bottom: 1px solid #f81a37;
    outline: none;
}

.form-group {
    width: 100%;
}

/* .callback-btn {
    margin-left: auto;
    margin-right: 0px;
} */

         /* .callback-btn{
            width: 100%;
        } */


@media (max-width: 440px) {
    .discount-subtitle {
        font-size: 16px;
        text-align: center;
    }

    .callback-container{
        flex-direction: column-reverse;
    }

    .form{
        display: flex;
        flex-direction: column;
    }

    .callback-title{
        font-size: 32px;
        text-align: center;
    }

    .phone-input{
        font-size: 32px;
        text-align: center;
    }
}