.contacts-section{
    position: relative;
    background-image: url(../img/GAZ-NA-AVTO-BG.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #f3f3f3;
    background-color: #000;
    min-height: 100vh;
}

.contacts-title{
    margin-top: 100px;
}

.map{
    border-radius: 12px;
}

.contacts-div{
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.phones-contacts{
    display: flex;
    flex-direction: column;
    color: #f3f3f3;
    gap: 20px;
    margin-top: 20px;
    font-size: 24px;
}

.social-link{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin-top: 12px;
}

.last-title-h3{
    font-size: 26px;
}

.social-btn:hover svg,
.social-btn:focus svg {
    transform: scale(1.2);
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.7));
}

 @media (max-width: 950px){
    .contacts-div{
        flex-direction: column;
        padding: 30px 0px;
    }

    .map{
        margin-top: 20px;
    }
    
 }

 @media (max-width: 440px){


    .header-contacts{
        text-align: left;
    }

    .phone-link-contacts{
        color: #f3f3f3;
        font-weight: 500;
    }

    .map{
        width: 100%;
    }

    .social-link{
        justify-content: space-between;
    }
 }