.faq-subtitle {
     text-align: center;
     font-size: 1.2rem;
     opacity: 0.9;
     margin-bottom: 50px;
 }

 .faq-container {
    display: flex;
    gap: 30px;
 }

 .faq-column {
     flex: 1;
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .faq-item {
     background: rgba(255, 255, 255, 0.1);
     border-radius: 12px;
     overflow: hidden;
     backdrop-filter: blur(10px);
     border: 1px solid rgba(255, 255, 255, 0.1);
 }

 .faq-question {
     padding: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     cursor: pointer;
     font-weight: 600;
     font-size: 1.1rem;
        background: linear-gradient(90deg, #0d253b, #f81a37);
    }
    
    .faq-question:hover {
        background: linear-gradient(90deg, #0d253b 50%, #f81a37 100%);
    }

 .faq-question span{
    color: #f3f3f3;
 }

  .faq-question span {
      color: #f3f3f3;
      transition: color 0.3s ease;
  }

    .faq-question:hover .faq-icon,
  .faq-question:focus .faq-icon {
      color: #0c1b33;
  }

 .faq-icon {
     font-size: 1.5rem;
     font-weight: 300;
     transition: transform 0.3s ease;
     color: #f3f3f3;
 }

 .faq-answer {
     padding: 0 20px;
     max-height: 0;
     overflow: hidden;
     transition: all 0.3s ease;
     background-color: #f6f8fa;
 }

 .faq-answer p {
    margin-top: 12px;
     padding: 0 0 20px 0;
     line-height: 1.6;
     opacity: 0.9;
 }

 .faq-item.active .faq-answer {
     max-height: 300px;
 }

 .faq-item.active .faq-icon {
     transform: rotate(45deg);
 }

 @media (max-width: 768px) {
     .faq-container {
         flex-direction: column;
         gap: 15px;
     }

     .faq-section h2 {
         font-size: 2rem;
     }

     .faq-question {
         padding: 15px;
         font-size: 1rem;
     }

      .faq-section h2 {
     font-size: 36px;
    }
 }