.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: #e6e6e6;
}

.header-line{
    display: flex;
    margin: 48px auto;
    justify-content: space-between;
    max-width: 1200px;
}

.nav-list, .nav-link{
    display: flex;
    gap: 36px;
}

.phones-column, .phone-link{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #f81a37;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active {
  color: #f81a37;
}

.nav-link.active::after {
  width: 100%;
}