.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: #f3f3f3;
}

.header-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    /* margin-top: 12px; */
}

.nav-list, .nav-link{
    display: flex;
    gap: 36px;
}

.phones-column, .phone-link{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #f81a37;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active {
  color: #f81a37;
}

.nav-link.active::after {
  width: 100%;
}

.logo{
  font-weight: 800;
  font-size: 22px;
}

.logo-div{
  /* background: linear-gradient(to right, #f81a37 15%, #f81a37 30%, #1a0000 70%, #000000 100%); */
  background: linear-gradient(90deg, #f81a37 0%, #8c0d1b 40%, #1a0000 70%, #000000 100%);
  padding: 4px 12px;
  border-radius: 14px;
  border: 3px solid #f3f3f3
}

@media (max-width: 870px){
  .logo, .logo-div{
    display: none;
  }
}