/* МОДАЛЬНОЕ ОКНО */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
}

.modal-content {
    background-color: #101010;
    margin: 10% auto;
    padding: 30px;
    border-radius: 20px;
    width: 85%;
    max-width: 500px;
    position: relative;
    box-sizing: border-box;

}

.modal-content>h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
    color: #f8f8f8;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 70px;
}

.modal-content>p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #f8f8f8;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.modal-close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #f8f8f8;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 12px;
    font-weight: 500;
    color: #f8f8f8;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 16px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #f8f8f8;
    border-radius: 4px;
}

/* Затемнение фона */
body.modal-open {
    overflow: hidden;
}

body.modal-open::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.submit-btn {
    background: #f81a37;
    color: #f8f8f8;
    padding: 12px 12px;
    border-radius: 25px;
    display: block;
    border: none;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.4s ease;
    box-shadow: 0 0 10px rgba(36, 167, 193, 0.5);
    animation: combinedEffect 2.5s infinite ease-in-out;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.submit-btn:hover,
.submit-btn:focus {
    background: #c6152c;
    box-shadow: 0 0 20px rgba(14, 99, 116, 0.8);
}