/* Sections style */
@import url('./css/reset.css');
@import url('./css/container.css');
@import url('./css/header.css');
@import url('./css/hero.css');
@import url('./css/footer.css');
@import url('./css/station.css');
@import url('./css/gbo-calculator.css');
@import url('./css/service-card.css');
@import url('./css/ustanovi-gbo.css');
@import url('./css/otzivy.css');
@import url('./css/callback.css');
@import url('./css/brend.css');
@import url('./css/faq.css');
@import url('./css/nashi-rabotu.css');
@import url('./css/price.css');